<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h2>Customer</h2>
        <form name="customerForm" novalidate>
            <div class="form-group" ng-class="{'has-error': customerForm.customer_name.$dirty && customerForm.customer_name.$invalid}">
                <label class="control-label" for="customer_name">Customer's name</label>
                <input type="text" name="customer_name" ng-model="customerCtrl.customer.customer_name" placeholder="Customer's name" class="form-control" required/>
                <div ng-messages="customerForm.customer_name.$error" ng-show="customerForm.$submitted || customerForm.customer_name.$dirty && customerForm.customer_name.$invalid">
                    <div ng-message="required" class="error-message">Please enter customer's name</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">Phone</label>
                <input type="text" name="phone" ng-model="customerCtrl.customer.phone" placeholder="Phone number" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <input type="text" name="address" ng-model="customerCtrl.customer.address" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="category">Country</label>
                <input type="text" name="country" ng-model="customerCtrl.country" 
                    placeholder="Country" typeahead-on-select="customerCtrl.getCities($item, $model, $label, $event)" 
                    uib-typeahead="country as country.country_name for country in customerCtrl.countries | filter:{country_name:$viewValue}" 
                    class="form-control" 
                    typeahead-show-hint="true" 
                    typeahead-min-length="0" />
            </div>
            <div class="form-group">
                <label for="category">City</label>
                <input type="text" name="city" ng-model="customerCtrl.city" 
                    placeholder="City" 
                    uib-typeahead="city as city.city_name for city in customerCtrl.cities | filter:{city_name:$viewValue}" 
                    class="form-control" 
                    typeahead-show-hint="true" 
                    typeahead-min-length="0" />
            </div>
            <div class="form-group row">
                <div class="col-md-offset-9 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="customerForm.$valid && customerCtrl.savecustomer()">Save</button>
                    <button type="button" class="btn btn-error" ui-sref="homepage.customers">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>