<button class="btn btn-primary" type="button" ui-sref="homepage.createCustomer">Add new customer</button>
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col style="width: 5%;">
            <col style="width: 14%"/>
            <col style="width: 14%"/>
            <col style="width: 14%"/>
            <col style="width: 14%"/>
            <col style="width: 14%"/>
            <col style="width: 25%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Order</th>
                <th>Customer's name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in listCustomersCtrl.customers track by $index">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="customer.customer_name"></td>
                <td ng-bind="customer.phone"></td>
                <td ng-bind="customer.address"></td>
                <td ng-bind="customer.city"></td>
                <td ng-bind="customer.country"></td>
                <td>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>