<ul class="nav nav-sidebar">
    <li ng-class="{'active': menuCtrl.currentSelected == 1}" ui-sref="homepage.products" ng-click="menuCtrl.setSelected(1)"><a>All products</a></li>
    <li ng-class="{'active': menuCtrl.currentSelected == 2}" ui-sref="homepage.categories" ng-click="menuCtrl.setSelected(2)"><a>Categories</a></li>
    <li ng-class="{'active': menuCtrl.currentSelected == 3}" ui-sref="homepage.customers" ng-click="menuCtrl.setSelected(3)"><a>Customers</a></li>
    <li ng-class="{'active': menuCtrl.currentSelected == 4}" ui-sref="homepage.providers" ng-click="menuCtrl.setSelected(4)"><a>Providers</a></li>
</ul>