<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h2>Provider</h2>
        <form name="providerForm" novalidate>
            <div class="form-group" ng-class="{'has-error': providerForm.provider_name.$dirty && providerForm.provider_name.$invalid}">
                <label class="control-label" for="provider_name">Provider's name</label>
                <input type="text" name="provider_name" ng-model="providerCtrl.provider.provider_name" placeholder="Provider's name" class="form-control" required/>
                <div ng-messages="providerForm.provider_name.$error" ng-show="providerForm.$submitted || providerForm.provider_name.$dirty && providerForm.provider_name.$invalid">
                    <div ng-message="required" class="error-message">Please enter provider's name</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="phone">Phone</label>
                <input type="text" name="phone" ng-model="providerCtrl.provider.phone" placeholder="Phone number" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <input type="text" name="address" ng-model="providerCtrl.provider.address" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="category">Country</label>
                <input type="text" name="country" ng-model="providerCtrl.country" 
                    placeholder="Country" 
                    uib-typeahead="country as country.country_name for country in providerCtrl.countries | filter:{country_name:$viewValue}" 
                    class="form-control" 
                    typeahead-show-hint="true" 
                    typeahead-min-length="0" />
            </div>
            <div class="form-group">
                <label for="category">City</label>
                <input type="text" name="city" ng-model="providerCtrl.city" 
                    placeholder="City" 
                    uib-typeahead="city as city.city_name for city in providerCtrl.cities | filter:{city_name:$viewValue}" 
                    class="form-control" 
                    typeahead-show-hint="true" 
                    typeahead-min-length="0" />
            </div>
            <div class="form-group row">
                <div class="col-md-offset-9 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="providerForm.$valid && providerCtrl.saveProvider()">Save</button>
                    <button type="button" class="btn btn-error" ui-sref="homepage.providers">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>