<button class="btn btn-primary" type="button" ui-sref="homepage.createProduct">Create new product</button>
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col style="width: 15%;">
            <col style="width: 15%"/>
            <col style="width: 35%"/>
            <col style="width: 8%"/>
            <col style="width: 12%"/>
            <col style="width: 25%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Product code</th>
                <th>Image</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in listProductCtrl.products">
                <td ng-bind="product.prod_code"></td>
                <td ng-bind="product.prod_code"></td>
                <td ng-bind="product.prod_name"></td>
                <td ng-bind="product.quantity"></td>
                <td ng-bind="product.price"></td>
                <td>
                    <button class="btn btn-success" ui-sref="homepage.editProduct({id:product.id})">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>