<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h2>Product</h2>
        <form name="productForm" novalidate>
            <div class="form-group">
                <label class="control-label">Product image</label>
                <img ngf-select ng-model="productCtrl.product.img_path" 
                    name="imagePath" ngf-src="productCtrl.product.img_path" 
                    ngf-multiple="false"  ngf-accept="'image/*'" 
                    ngf-change="productCtrl.changeImage($file)" 
                    style="display: block !important; width: 400px; height: 400px;"/>
            </div>
            <div class="form-group" ng-class="{'has-error': productForm.category.$dirty && productForm.category.$invalid}">
                <label for="category">Category</label>
                <input type="text" name="category" ng-model="productCtrl.category" 
                    placeholder="Category" 
                    uib-typeahead="category as category.cate_name for category in productCtrl.categories | filter:{cate_name:$viewValue}" 
                    class="form-control" 
                    typeahead-show-hint="true" 
                    typeahead-min-length="0" required />
                <div ng-messages="productForm.category.$error" ng-show="productForm.$submitted || productForm.category.$dirty && productForm.category.$invalid">
                    <div ng-message="required" class="error-message">Please choose a category</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': productForm.prod_name.$dirty && productForm.prod_name.$invalid}">
                <label class="control-label" for="prod_name">Product's name</label>
                <input type="text" name="prod_name" ng-model="productCtrl.product.prod_name" placeholder="Product's name" class="form-control" required/>
                <div ng-messages="productForm.prod_name.$error" ng-show="productForm.$submitted || productForm.prod_name.$dirty && productForm.prod_name.$invalid">
                    <div ng-message="required" class="error-message">Please enter product's name</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="prod_code">Product's code</label>
                <input type="text" name="prod_code" ng-model="productCtrl.product.prod_code" placeholder="Product's code" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="prod_code">Quantity</label>
                <input type="number" name="quantity" ng-model="productCtrl.product.quantity" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="prod_code">Price</label>
                <input type="number" name="price" ng-model="productCtrl.product.price" class="form-control"/>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-9 col-md-3">
                    <button type="submit" class="btn btn-success" ng-click="productForm.$valid && productCtrl.saveProduct()">Save</button>
                    <button type="button" class="btn btn-error" ui-sref="homepage.products">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>