<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Product Management System</h1>
        <h3 class="text-center">Sign in</h3>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form name="login" novalidate>
            <div class="form-group" ng-class="{'has-success': login.username.$dirty && login.username.$valid, 'has-error': login.username.$dirty && login.username.$invalid}">
                <label class="control-label" for="username">Username</label>
                <input type="text" name="username" ng-model="loginCtrl.account.username" placeholder="Username or email address" class="form-control" required/>
                <div ng-messages="login.username.$error" ng-show="login.$submitted || login.username.$dirty && login.username.$invalid">
                    <div ng-message="required" class="error-message">Please enter your username or email address</div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success': login.password.$dirty && login.password.$valid, 'has-error': login.password.$dirty && login.password.$invalid}">
                <label class="control-label" for="password">Password</label>
                <input type="password" name="password" ng-model="loginCtrl.account.password" placeholder="Password" class="form-control" required/>
                <div ng-messages="login.password.$error" ng-show="login.$submitted || login.password.$dirty && login.password.$invalid">
                    <div ng-message="required" class="error-message">Please enter your password</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-10 col-md-2">
                    <!--button type="submit" class="btn btn-primary" ng-click="login.$valid && loginCtrl.login()">Sign in</button-->
                    <button type="button" class="btn btn-primary" ui-sref="homepage.products">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>