<button class="btn btn-primary" type="button" ng-click="listCategoriesCtrl.createCategory()">Create new category</button>
<div class="table-responsive">
    <table class="table table-striped">
        <colgroup>
            <col style="width: 10%;">
            <col style="width: 70%"/>
            <col style="width: 20%"/>
        </colgroup>
        <thead>
            <tr>
                <th>Order</th>
                <th>Category name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in listCategoriesCtrl.categories track by $index">
                <td ng-bind="$index + 1"></td>
                <td ng-bind="category.cate_name"></td>
                <td>
                    <button class="btn btn-success" ng-click="listCategoriesCtrl.editCategory($index, category)">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>